<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="simulation" default="False"/>
  <arg name="image_seg" default="False"/>
  <arg name="bagfile" default=""/>
  <arg name="output" default="screen"/>

  <group if="$(eval len(arg('bagfile')) > 0)">
    <include file="$(find top_down_render)/launch/record.launch">
      <arg name="bagpath" value="$(arg bagfile)"/>
    </include>
  </group>

  <node name="top_down_render" pkg="top_down_render" type="top_down_render_node" output="$(arg output)">
    <remap from="~/pc" to="/os_node/segmented_point_cloud"/>
    <remap from="~/gt_pose" to="/unity_ros/husky/TrueState/pose"/>
    <remap from="~/map_image" to="/titan/asoom/map_sem_img"/>
    <remap from="~/map_loc" to="/titan/asoom/map_sem_img_center"/>
    <param name="particle_count" value="300"/>

    <param name="world_config_path" value="$(find semantics_manager)/config/config.yaml"/>
    <rosparam command="load" subst_value="True" file="$(find top_down_render)/config/pennovation2.yaml"/>

    <param name="use_motion_prior" value="True"/>
    <param name="filter_pos_cov" value="0.15"/>
    <param name="filter_theta_cov" value="0.004"/>
    <param name="filter_regularization" value="0.7"/>
    <param name="out_of_bounds_const" value="3"/>

    <remap from="~/pose_est" to="/spomp_mapper/global_est"/>
    <remap from="~/motion_prior" to="/os_node/llol_odom/pose"/>
  </node>

  <group if="$(eval arg('image_seg'))">
    <include file="$(find image_folder_sync)/launch/image_folder_sync.launch"/>
  </group>

  <group if="$(eval not arg('simulation') and not arg('image_seg'))">
    <include file="$(find rangenet_inf)/launch/rangenet_inf.launch" pass_all_args="true"/>
  </group>

  <group if="$(eval arg('simulation'))">
    <node pkg="tf2_ros" type="static_transform_publisher" name="gt"
      args="0 0 0 0 0 0 husky/TrueState husky/base"/> 
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 1 world map" />
</launch>
