<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="robot" default="husky1"/>

  <node name="top_down_render" pkg="top_down_render" type="top_down_render_node" output="$(arg output)" ns="$(arg robot)" launch-prefix="gdb -ex run --args">
    <remap from="~/pc" to="fake_lidar/cloud"/>
    <remap from="~/gt_pose" to="/unity_ros/$(arg robot)/TrueState/pose"/>
    <remap from="~/map_image" to="/asoom/map_sem_img"/>
    <remap from="~/map_loc" to="/asoom/map_sem_img_center"/>
    <param name="raster_res" value="1"/>
    <param name="particle_count" value="1000"/>

    <rosparam command="load" subst_value="True" file="$(find top_down_render)/config/live_map.yaml"/>

    <param name="use_motion_prior" value="True"/>
    <param name="filter_pos_cov" value="0.15"/>
    <param name="filter_theta_cov" value="0.004"/>
    <param name="filter_regularization" value="0.7"/>

    <remap from="~/motion_prior" to="fake_odom/pose"/>
  </node>

  <!--node pkg="tf2_ros" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 1 world map" /-->
</launch>
